<div class="container">
    <header>
        <h1>Todo List ( {{ incompleteCount() }} )</h1>

        <label class="hide-completed">
            <input type="checkbox" ng-model="$parent.hideCompleted"/>
            Hide Completed Tasks
        </label>

        <!-- add a form below the h1 -->
        <form class="new-task" ng-submit="addTask(newTask); newTask='';">
            <input ng-model="newTask" type="text"
                   name="text" placeholder="Type to add new tasks"/>
        </form>
    </header>

    <ul ng-repeat="task in tasks">
        <li ng-class="{'checked': task.checked}">
            <button class="delete" ng-click="tasks.remove(task)">&times;</button>

            <input type="checkbox" ng-model="task.checked" class="toggle-checked" />

            <span class="text">{{task.text}}</span>
        </li>
    </ul>
</div>